In [1]:
import pandas as pd

In [2]:
# loading in csv files
avg_df = pd.read_csv('avg-sale-price-of-houses-us.csv')
med_df = pd.read_csv('med-sale-price-of-houses-us.csv')

In [3]:
avg_df.head()

         DATE    ASPUS
0  1963-01-01  19300.0
1  1963-04-01  19400.0
2  1963-07-01  19200.0
3  1963-10-01  19600.0
4  1964-01-01  19600.0

In [4]:
med_df.head()

         DATE    MSPUS
0  1963-01-01  17800.0
1  1963-04-01  18000.0
2  1963-07-01  17900.0
3  1963-10-01  18500.0
4  1964-01-01  18500.0

In [5]:
# Combing data into one data frame and renaming
sales_price_trends_df = avg_df
sales_price_trends_df['Median'] = med_df['MSPUS']
sales_price_trends_df.rename(columns={'DATE':'Date', 'ASPUS':'Average'}, inplace=True)

In [6]:
sales_price_trends_df.head()

         Date  Average   Median
0  1963-01-01  19300.0  17800.0
1  1963-04-01  19400.0  18000.0
2  1963-07-01  19200.0  17900.0
3  1963-10-01  19600.0  18500.0
4  1964-01-01  19600.0  18500.0

In [7]:
sales_price_trends_df.to_csv('avg_med_house_sales_price.csv', index=False)